*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Sans-Serif;
}
body{
  background-image: linear-gradient(to left top, white 30%, grey);
}
header{
  padding: 30px 0px;
  background: black;
}

.navegacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.navegacao .logo{
  width: 70px;
}

.navegacao ul{
  display: flex;
  align-items: center;
  gap: 100px;
}
.navegacao ul li a{
  color: white;
  font-weight: 600;
  padding-bottom: 15px;
  transition: all 0.5s ease-in-out;
  width: 40px;
}
.navegacao ul li a:hover{
  color-interpolation: white;
  border-bottom: 1px solid white;
  color: red;
}
.navegacao .check{
  color: white;
  border-bottom: 1px solid white;
}

Display table-cell

main section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
}
.main-text img{
  width: 15rem;
  margin-bottom: 1vh;
}
.main-text h3{
  font-size: 5.5rem;
  margin-bottom: 2rem;
}
.main-text p{
  margin-bottom: 1.5rem;
  justify-content: center;
}
.main-text h6{
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.main-texto h5{
  color: blue;
}
.main-texto h1{
  padding-bottom: 50px;
  background: whi;
  color: black;
}
.main-imagem{
  padding: 20px;
  transform: scale(0.8);
  text-align: left;
}
.main-text btn{
  border-radius: 20px;
  background-color: blue;
  color: white;
  font-size: 10rem;
  padding: 10px 25px;
  width: 150px;
}
.main-text .btn:hover{
  opacity: 85;
}

.main-text .text h5{
  font-size: 1rem;
  color: black;
  margin-top: 2rem;
  margin-bottom: 9rem;
}
.main-text .content{
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-text .content span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px grey;
  transition: all 0.5s;
}
.main-text .content span:hover{
  opacity: 80;
}
#titânio natural{
  background: blue;
}
#titânio branco{
  background: black;
}
.main-img img{
  width: 750px;
  text-align: center;
  padding-right: 10px;
}